.container {
    padding: 0 130px;
    display: flex;
    flex-direction: column;
}

.title {
    color: var(--black);
    font-family: Navigo, serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin: 60px 0 30px;
}
