.container {
    border-radius: 40px;
    overflow: hidden;
    padding: 20px 0;
}

.offer_container {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .offer_container {
      flex-wrap: wrap;
  }
}
